<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">New Test Created</p>
                        <h3 class="title">25

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">store</i>

                    </div>
                    <div class="card-content">
                        <p class="category">Test Scheduled</p>
                        <h3 class="title">12

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Running Test</p>
                        <h3 class="title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">New Test</h4>

                    </div>

                    <div class="card-content table-responsive">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>Test Name</th>
                                            <th>Created Date</th>
                                            <th>RMX ID</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>8.7.5_once_test1</td>
                                            <td>15/02/2018</td>
                                            <td>10.206.101.230</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>8.7.3_regular_test1</td>
                                            <td>15/02/2018</td>
                                            <td>10.206.101.230</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>8.2.5_twice_test1
                                            </td>
                                            <td>13/02/2018</td>
                                            <td>10.206.102.230</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>8.7.15_once_test1</td>
                                            <td>15/02/2018</td>
                                            <td>10.206.101.130</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Scheduled Test</h4>

                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>Test Name</th>
                                    <th>Created Date</th>
                                    <th>RMX ID</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>8.7.5_once_test1</td>
                                    <td>15/02/2018</td>
                                    <td>10.206.101.230</td>
                                   
                                </tr>
                                <tr>

                                    <td>8.7.3_regular_test1</td>
                                    <td>15/02/2018</td>
                                    <td>10.206.101.230</td>
                                   
                                </tr>
                                <tr>

                                    <td>8.2.5_twice_test1
                                    </td>
                                    <td>13/02/2018</td>
                                    <td>10.206.102.230</td>
                                   
                                </tr>
                                <tr>

                                    <td>8.7.15_once_test1</td>
                                    <td>15/02/2018</td>
                                    <td>10.206.101.130</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Running Test</h4>

                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>Test Name</th>
                                    <th>Created Date</th>
                                    <th>RMX ID</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>8.7.5_once_test1</td>
                                    <td>15/02/2018</td>
                                    <td>10.206.101.230</td>
                                   
                                </tr>
                                <tr>

                                    <td>8.7.3_regular_test1</td>
                                    <td>15/02/2018</td>
                                    <td>10.206.101.230</td>
                                   
                                </tr>
                                <tr>

                                    <td>8.2.5_twice_test1
                                    </td>
                                    <td>13/02/2018</td>
                                    <td>10.206.102.230</td>
                                   
                                </tr>
                                <tr>

                                    <td>8.7.15_once_test1</td>
                                    <td>15/02/2018</td>
                                    <td>10.206.101.130</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>